/* styles/globals.css */
@import "tailwindcss";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, select, button {
    margin: 10px 0;
  }

  button{
    cursor: pointer;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  }
  